@font-face {
  font-family: quicksand;
  src: url(../assets/font/Quicksand-VariableFont_wght.ttf);
}

@font-face {
  font-family: Belanosima;
  src: url(../assets/font/Belanosima-Regular.ttf);
}

* {
  box-sizing: border-box;
}

:root {
  --COLOR-ACCENT: rgb(255 224 138);
  --COLOR-BACKGROUND: rgb(65 60 80);
  --COLOR-BAR: rgb(42 39 52);
  --COLOR-MAIN: hsl(254 29% 80%);
  --COLOR-ESC: hsl(255 16% 20%);
}

body,
:root {
  padding: 0;
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
}

button:hover {
  cursor: pointer;
}

ion-icon {
  color: var(--COLOR-ACCENT);
}

/* Predefined class ----------------------------------------------------------*/
.flex-horizontal,
.flex-vertical {
  display: flex;
  align-items: center;
}

.flex-vertical {
  flex-direction: column;
}

.accent {
  color: var(--COLOR-ACCENT);
}

/* App wrapper ---------------------------------------------------------------*/
.app-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: var(--COLOR-BACKGROUND);
}

/* Top navbar ----------------------------------------------------------------*/
nav.main-navbar {
  height: 3rem;
  width: 100%;
  background-color: var(--COLOR-BAR);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  flex-grow: 0;
  flex-shrink: 0;
}

nav.main-navbar > :nth-last-child(2) {
  margin-right: auto; /* Always push info icon to right edge */
}

nav.main-navbar > h2 {
  letter-spacing: 0.1rem;
  font-family: quicksand;
}

nav.main-navbar > h2 > a {
  color: var(--COLOR-ACCENT);
  text-decoration: none;
}

nav.main-navbar > a:first-child {
  margin-right: 1.5rem;
}

nav.main-navbar > a ion-icon {
  font-size: 1.5rem;
}

ion-icon {
  font-size: 2rem;
}

nav.main-navbar button {
  padding: 0;
  height: 100%;
  aspect-ratio: 1 / 1;
  justify-content: center;
}

nav.main-navbar button:hover {
  background-color: var(--COLOR-ESC);
}

nav.main-navbar button:active {
  border-left: solid var(--COLOR-ACCENT) 1px;
  border-right: solid var(--COLOR-ACCENT) 1px;
}

/* Main part -----------------------------------------------------------------*/
main {
  flex-grow: 1;
  width: 100%;
  border: solid red 3px;
  align-items: stretch !important;
  font-family: quicksand;
}

/* Main center ---------------------------------------------------------------*/
.main-center {
  border: solid blue 3px;
  flex-grow: 1;
  padding-left: 1rem;
  padding-right: 1rem;
  /* overflow-y: auto; */
  /* height: calc(100vh - 4rem); */
}

.main-center-header {
  border: solid green 3px;
}

.all-task-wrapper {
  width: 100%;
  margin: 0 auto;
}

/* Main left -----------------------------------------------------------------*/

/* Task panel ----------------------------------------------------------------*/
.task-panel {
  height: 3rem;
  width: 100%;
  background-color: var(--COLOR-ESC);
  color: var(--COLOR-MAIN);
  font-family: Belanosima;
}
