@font-face {
  font-family: quicksand;
  src: url(../assets/font/Quicksand-VariableFont_wght.ttf);
}

@font-face {
  font-family: Belanosima;
  src: url(../assets/font/Belanosima-Regular.ttf);
}

* {
  box-sizing: border-box;
}

:root {
  --COLOR-ACCENT: rgb(255 224 138);
  --COLOR-BACKGROUND: rgb(65 60 80);
  --COLOR-BAR: rgb(42 39 52);
  --COLOR-MAIN: hsl(254 29% 80%);
  --COLOR-ESC: hsl(255deg 13.9% 29.03%);
}

body,
:root {
  padding: 0;
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
}

button:hover {
  cursor: pointer;
}

ion-icon {
  color: var(--COLOR-ACCENT);
}

a {
  text-decoration: none;
}

/* Predefined class ----------------------------------------------------------*/
.flex-horizontal,
.flex-vertical {
  display: flex;
  align-items: center;
}

.flex-vertical {
  flex-direction: column;
}

.accent-text {
  color: var(--COLOR-ACCENT);
}

/* App wrapper ---------------------------------------------------------------*/
.app-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: var(--COLOR-BACKGROUND);
}

/* Top navbar ----------------------------------------------------------------*/
.navbar-top {
  height: 3rem;
  width: 100%;
  background-color: var(--COLOR-BAR);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  flex: 1 1 0;
}

.navbar-top > * {
  height: 100%;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.navbar-top > *:hover {
  background-color: var(--COLOR-ESC);
}

.navbar-top > *:active {
  border-left: solid var(--COLOR-ACCENT) 1px;
  border-right: solid var(--COLOR-ACCENT) 1px;
}

.navbar-top > :nth-last-child(2) {
  margin-right: auto; /* Always push info icon to right edge */
}

.navbar-top--title {
  letter-spacing: 0.1rem;
  font-family: quicksand;
}

.title-icon {
  font-size: 1.5rem;
}

.info-icon {
  font-size: 2rem;
}

/* Main part -----------------------------------------------------------------*/
main {
  flex-grow: 1;
  width: 100%;
  border: solid red 3px;
  align-items: stretch !important;
  font-family: quicksand;
}

/* Main center ---------------------------------------------------------------*/
.main-center {
  border: solid blue 3px;
  flex-grow: 1;
  padding-left: 1rem;
  padding-right: 1rem;
  /* overflow-y: auto; */
  /* height: calc(100vh - 4rem); */
}

.main-center-header {
  border: solid green 3px;
}

.all-task-wrapper {
  width: 100%;
  margin: 0 auto;
}

/* Main left -----------------------------------------------------------------*/

/* Task panel ----------------------------------------------------------------*/
.task-panel {
  height: 3rem;
  width: 100%;
  background-color: var(--COLOR-ESC);
  color: var(--COLOR-MAIN);
  font-family: Belanosima;
}
